{% extends "blog/base.html" %}
{% block content %}
    <!-- <form>
        <input type="button" onclick="window.location.href='{% url 'register' %}'" value="Become a Referrer" />
    </form>
    <br> -->
    <form action="" method="GET">
        <input class="form-control" type="text" name="query" placeholder="Filter by Company or Name"><br/>
    </form>
    <br>
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col">Name</th>
                <!-- <th scope="col">Last Name</th> -->
                <th scope="col">Email</th>
                <th scope="col">Company</th>
            </tr>
        </thead>
        <tbody>
            {% for item in query_results %}
                <tr>
                    <!-- <th scope="row"></th> -->
                    <td>{{ item.firstName }} {{ item.lastName }}</td>
                    <!-- <td>{{ item.lastName }}</td>      -->
                    <td>{{ item.email }}</td> 
                    <td>{{ item.company }}</td> 
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content%}