{% extends "blog/base.html" %}
{% block content %}
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
                <th scope="col">Company</th>
            </tr>
        </thead>
        <tbody>
            {% for item in query_results %}
                <tr>
                    <!-- <th scope="row"></th> -->
                    <td>{{ item.firstName }}</td>
                    <td>{{ item.lastName }}</td>     
                    <td>{{ item.email }}</td> 
                    <td>{{ item.company }}</td> 
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content%}